:root {
  --bg-dark: #1E1E26;
  --sidebar-dark: #25252F;
  --input-bg: #3E3E3E;
  --text-main: #FFFFFF;
}

body {
  margin: 0;
  background-color: var(--bg-dark);
  color: var(--text-main);
  font-family: sans-serif;
}

.page-wrapper {
  display: flex;
  height: 85vh;
  width: 95vw;
  gap: 20px;
  margin-right: auto;
  margin-left: auto;
}

.area-list-container {
  width: 20%;
  background-color: var(--sidebar-dark);
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 30px;
  background-color: var(--sidebar-dark);
  border-radius: 10px;
}

.map-view-container {
  width: 100%;
  height: 50vh; 
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
}

.input-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 25px;
}

.page-wrapper .main-content .save-section{
    gap: 20px;
    justify-content: flex-end; 
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    width: 40vw;
    white-space: nowrap;
    margin-top: auto;
    margin-left: auto;
}

.page-wrapper .main-content .save-section .save-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.map-overlay-controls {
  position: absolute;
  top: 15%;
  right: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 10;
}

.area-options-container {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 4px;
  transition: background-color 0.2s ease;
}

.area-options-container.open {
  background-color: #8C8A8A;
}

.area-options-dropdown {
  display: flex;
  flex-direction: column;
  gap: 6px;
  animation: dropdownFade 0.2s ease;
}

@keyframes dropdownFade {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.map-button {
  background: #3E3E3E;
  border: none;
  padding: 9px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
}

.map-button:hover {
  background: #2B2A32;
}