.input-container {
      position: relative;
      display: inline-block;
      width: 100%;
}

.input-label {
  display: block;
  margin-bottom: 0.5rem; 
  font-weight: bold;
}

.input-field {
  height: 2.5rem;
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: #3E3E3E;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #111827;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.input-field:focus {
  border-color: rgb(255, 255, 255);
  outline: 2px solid;
  outline-offset: 2px;
}

.input-field-checkbox-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 2.5rem;
  width: 100%;
  border-radius: 10px;
  background-color: #3E3E3E;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.input-label-checkbox {
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  cursor: pointer;
}

.input-checkbox {
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
  accent-color: #3b82f6;
  background-color: white;
}

.input-checkbox:focus {
  outline: 2px solid rgb(255, 255, 255);
  outline-offset: 2px;
}

@media (prefers-color-scheme: dark) {
  .input-field {
    color: #ffffff;
  }
}