.red-button{
    background-color: #fc030362;
    color: white;
    font-weight: bold;
    width: 100%;
    padding: 8px 16px;
    border: 1px solid #fc0303;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.2s ease;
}

.red-button:hover {
    background-color: #fc0303;
}

.gray-button {
    width: 100%;
    background-color: #75757562;
    color: white;
    font-weight: bold;
    padding: 8px 16px;
    border: 1px solid #757575;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.2s ease;
}

.gray-button:hover {
    background-color: #757575;
}


.blue-button {
    width: 100%;
    background-color: #4c00ff8c;
    border-color: #4c00ff;
    color: white;
    font-weight: bold;
    border: 1px solid #4c00ff;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.2s ease;
}

.blue-button:hover {
    background-color: #4c00ff;
}

.yellow-button {
    width: 100%;
    background-color: #ffe60083;
    border-color: #ffe600;
    color: white;
    font-weight: bold;
    border: 1px solid #ffe600;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.2s ease;
}

.yellow-button:hover {
    background-color: #ffe600;
}


.green-button {
    width: 100%;
    background-color: #00c85383;
    border-color: #00c853;
    color: white;
    font-weight: bold;
    border: 1px solid #00c853;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.2s ease;
}

.green-button:hover {
    background-color: #00c853;
}

.small-button {
    font-size: 0.875rem;
}
.medium-button {
    font-size: 1.2rem;
}
.large-button {
    font-size: 1.5rem;
}


.round-corners{
    border-radius: 100vw;
}