.campus-now-container{
    width: 100vw;
    height: 80vh;
}

.campus-now-container h1 {
    margin-left: 60px;
    font-weight: 1000;
    font-size: 2.5rem;
}

.campus-now-container .content{
    background-color: #2B2A32;
    height: 70vh;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: minmax(0, 1fr);
    overflow: hidden;
    
}

.campus-now-container .content .divider{
    margin: 0 20px;
    border: 1px solid #b9b9b944;
}
.campus-now-container .content .input-section {
    grid-column: 1;
    grid-row: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.campus-now-container .content .input-section * {
    max-width: 100%;
}

.campus-now-container .content .preview-section {
    grid-column: 3;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    flex-direction: column;
    padding: 20px 10px;
    justify-content: space-between;
}

.campus-now-container .content .save-section {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    gap: 10px;
}

.campus-now-container .content .save-section .save-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.campus-now-container .content .preview-section .preview-box {
    height: 85%;
    width: 90%;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    text-align: left;
    padding: 20px;
}

.campus-now-container .content .preview-section .weather-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    width: 100%;
    overflow: hidden;
}

.campus-now-container .content .preview-section .weather-container h1 {
    margin-top: auto;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 0;
    font-size: 1.5rem;
    overflow-x: hidden;
}

.campus-now-container .content .preview-section .markdown-preview {
    width: 100%;
    max-height: 50%;
    overflow-y: auto;
    overflow-x: hidden;
}

.campus-now-container .content .preview-section .preview-separator {
    border-bottom: 1px solid #B9B9B9;
    width: 100%;
    margin: 10px 0;
}