.app-container{
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
}

.button-container,
.markdown-editor-container,
.hero-image-editor-container {
  max-width: 40vw;
}

.button-container{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.map-container{
  padding: 10px;
  text-align: center;
}
